<html>
  <head>
    <title>Introdução às Tecnologias Web</title>
    <meta charset="UTF-8" />
    <meta author="Heberth Braga Gonçalves Ribeiro" />
    <meta keywords="tecnologias, web, tecnologias web, desenvolvimento para web" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/footer.css" />
    <link rel="stylesheet" href="../../css/aula04.css" />
  </head>
  <body>
    <header class="header">
      <h1>Bem-Vindo ao curso de Introdução às Tecnologias Web</h1>
    </header>
      
    <div id="main">
      <div class="conteudo">
        
      </div>
    </div>
 
    <footer class="footer">
      <p>Departamento de Informática - IFAL. 20019.1</p>
    </footer>
  </body>
</html>