.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  background-image: url('/img/TEC_WEB_TANSPARENTE.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  float: left;
}

.menu {
  float: right;
  margin: 20px 20px 0px 0px;
}

.menu ul li {
  display: inline;
  padding-right: 10px;
}

.menu a {
  color: #000;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
}