body {
  font-family: "Arial", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
}

.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}

.assuntos {
  height: 320px;
  font-size: 14px;
}

.assuntos dt {
  font-weight: bold;
}

.assuntos > div {
  width: calc(90%/4);
  height: 100%;
  float: left;
  background-color: #e5f0f7;
  margin-right: 10px;
}

.assuntos > div > dl {
  padding: 5px 5px 5px 10px;
}

.assuntos li {
  padding-bottom: 5px;
}
